/*--- Custom Harry Potter Font --- */
@font-face {
    font-family: 'Harry-Potter';
    src: url('../fonts/HarryP.woff2') format('woff2'),
        url('../fonts/HarryP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
    font-family: 'PT Serif', serif;
    font-size: 16px;
}
  
.bg {
    background-image: url("../images/bg_full.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.harry-potter-font {
    font-family: 'Harry-Potter';
    font-weight: normal;
    font-style: normal;
}

.logo {
    color: #FFD700;
    text-shadow: 
    2px 0 0px #800040, 
    3px 2px 0px rgba(77,0,38,0.5), 
    3px 0 3px #FF002B, 
    5px 0 3px #800015, 
    6px 2px 3px rgba(77,0,13,0.5), 
    6px 0 9px #FF5500, 
    8px 0 9px #802A00, 
    9px 2px 9px rgba(77,25,0,0.5), 
    9px 0 18px #FFD500, 
    11px 0 18px #806A00, 
    12px 2px 18px rgba(77,66,0,0.5), 
    12px 0 30px #FFDF00, 
    14px 0 30px #6A8000, 
    15px 2px 30px rgba(64,77,0,0.5), 
    15px 0 45px #FFDF00, 
    17px 0 45px #C5B358, 
    17px 2px 45px #8B451350;
}

.question {
    clear: both;
   
    text-align: center;
    font-weight: bold;
    font-family: 'Lancelot', cursive;
}

.question-div::after {
    content: url(../images/divider.png);
    max-width: 346px;
    height: 7px;
    clear: both;
}

.answers::after {
    content: url(../images/divider.png);
    max-width: 346px;
    height: 7px;
    clear: both;
}

.game-panel {
    background: #806A00 url(../images/game-panel.jpg) top center no-repeat;
    width: 594px;
    max-width: 594px;
    height: 426px;
}


.margin-center {
    margin: 0 auto;
}

.answer {
    background: transparent url(../images/button-bg.png) top center no-repeat;
    width: 337px;
    height: 44px;
    min-width: 337px;
    min-height: 44px;
    border: 0;
    color: #ccad9d;

}

.answer:hover {
    background: transparent url(../images/button-bg-hover.png) top center no-repeat;
}

#img_div {
    background: transparent url(../images/img-frame.jpg) center 2px no-repeat;
}

.image-button {
    background: transparent url(../images/btn-normal.png) center center no-repeat;
    width: 172px;
    height: 57px;
    min-width: 172px;
    min-height: 57px;
    border: 0;
    clear: both;
}

.image-button:hover {
    background: transparent url(../images/btn-hover.png) center center no-repeat;
}

@media screen and (max-width: 640px) {
    .game-panel {
        background: #806A00 url(../images/paper.jpg) center center repeat-y;
        width: 100%;
        min-height: 500px;
        margin-bottom:40px;
    }
   
}